.app-download{
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw,20px);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-download-platforms{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.app-download-platforms img{
    width: 250px;
    max-width: 300px;
    transition: 0.5s;
    cursor: pointer;
}
.app-download-platforms img:hover{
    transform: scale(1.2);
}
